.login {
    width: 493px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 40px auto;
    margin-top: 30px;
    position: relative;
    border: 1px solid #014B70;
}
.loginheader h1 {
    font-size: 31px;
    margin-bottom: 50px;
    margin-left: 15px;
    color: #014B70;
}
.btnlogin {
    color: white;
    width: 90px;
    height: 31px;
    background: #014B70;
    border-radius: 5px;
    margin-left: 380px;
    border: none;
}
.btnlogin:hover {
    color: #014B70;
    background: #F7941E;
    cursor: pointer;
}
.info {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}

.info i {
    position: absolute;
    left: 12px;
    top: calc(50% - 0.5em);
}

.info input {
    width: 445px;
    height: 31px;
    text-indent: 65px;
    font-size: 14px;
    background: linear-gradient(to right, #F7941E 12%, white 12% 80%);
    border: 1px solid #F7941E;
    border-radius: 5px;
}

.info textarea {
    width: 445px;
    height: 31px;
    text-indent: 65px;
    font-size: 14px;
    background: linear-gradient(to right, #F7941E 12%, white 12% 80%);
    border: 1px solid #F7941E;
    border-radius: 5px;
}

.info select {
    width: 445px;
    height: 31px;
    text-indent: 65px;
    font-size: 14px;
    background: linear-gradient(to right, #F7941E 12%, white 12% 80%);
    border: 1px solid #F7941E;
    border-radius: 5px;
}
fa {
    color: #014B70;
}

.fa:hover {
    color: #F7941E;
}