body {
    font-family: sans-serif;
}

.container {
    margin: 10px;
    justify-content: center;
}

.background {
    width: 95%;
    margin-top: 30px;
    border: 0px solid #014B70;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.card {
    border: 0px !important;
    background: radial-gradient(#111 50%, #000 100%) !important;
    overflow: hidden !important;
    position: relative !important;
}

.card img {
    transform: scale(1) !important;
    transition: all 0.3s ease-out !important;
}

.card:hover img {
    transform: scale(1.1) translateY(0px) !important;
    opacity: 0.3 !important;
}

.card:hover a {
    transform: scale(1.2) translateY(-50px) !important;
    transition: 0.3s ease-out !important;
    opacity: 1 !important;
}

.card-txt a {
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: 15px !important;
    text-align: center !important;
    color: #fff !important;
    transition: 0.3s ease-out !important;
    opacity: 0 !important;
}

.card-txt a:hover {
    text-decoration: none !important;
}


.select_list {
    width: 300px;
    color: #014B70;
    font-size: 18px;
    height: 40px;
    border: 1px solid #014B70;
}

*/ .menurow {
    margin: 100px;
    height: 200px;
    width: 90%;
    vertical-align: center;
    margin-bottom: 100px;
    margin-top: 15px;
}

.menucolumn {
    width: 33%;
    margin-right: 180px;
}

.menucard {
    height: 400px;
    width: 250px;
    margin-left: 30px;
}

.menucard img {
    transition: 1s;
    width: 250px;
    height: 250px;
}

.menuimg {
    background-color: white;
}

.menucard img:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.menucard img:active {
    transition: 0.1s;
}

.menumid {
    margin-top: 0px;
}

.menutxt {
    font-size: 36px;
    color: #014B70;
}

.menutxt:hover {
    text-decoration: none;
    color: #F7941E;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #014B70;
    background-attachment: fixed;
    color: #F7941E;
    margin-top: 200px;
    padding: 10px;
    float: bottom;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #F7941E;
    text-decoration: none;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.login {
    width: 493px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 40px auto;
    margin-top: 30px;
    position: relative;
    border: 1px solid #014B70;
}

.loginheader h1 {
    font-size: 31px;
    margin-bottom: 50px;
    margin-left: 15px;
    color: #014B70;
}

.icon {
    position: absolute;
    right: 20px;
    top: -34px;
}

.icon a {
    color: #F7941E;
    margin-left: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.info {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}

.info i {
    position: absolute;
    left: 12px;
    top: calc(50% - 0.5em);
}

.info input {
    width: 445px;
    height: 31px;
    text-indent: 65px;
    font-size: 14px;
    background: linear-gradient(to right, #F7941E 12%, white 12% 80%);
    border: 1px solid #F7941E;
    border-radius: 5px;
}

.info textarea {
    width: 445px;
    height: 31px;
    text-indent: 65px;
    font-size: 14px;
    background: linear-gradient(to right, #F7941E 12%, white 12% 80%);
    border: 1px solid #F7941E;
    border-radius: 5px;
}

.info select {
    width: 445px;
    height: 31px;
    text-indent: 65px;
    font-size: 14px;
    background: linear-gradient(to right, #F7941E 12%, white 12% 80%);
    border: 1px solid #F7941E;
    border-radius: 5px;
}

.btnlogin {
    color: white;
    width: 90px;
    height: 31px;
    background: #014B70;
    border-radius: 5px;
    margin-left: 380px;
    border: none;
}

.btnlogin:hover {
    color: #014B70;
    background: #F7941E;
    cursor: pointer;
}

.loginfooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.loginfooter span {
    margin-bottom: 10px;
}

.loginfooter a {
    text-decoration: none;
    color: #014B70;
}

.fa {
    color: #014B70;
}

.fa:hover {
    color: #F7941E;
}

.body_heads {
    font-size: 36px;
    color: #014B70;
    float: inherit;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.body_sub_heads {
    font-size: 24px;
    color: #014B70;
    float: inherit;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.details {
    text-align: justify;
    font-size: 16px;
    width: 85%;
    margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url(https://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

.profile {
    height: 1200px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

.profile-banner {
    height: 40%;
    width: 100%;
    background-image: url('https://picsum.photos/seed/picsum/1000/520');
    background-size: 100%;
    border-radius: 10px;
}

.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -90px;
    text-align: center;
    border: 10px solid #fff;
}

.profile-picture span {
    font-size: 20pt;
}

.profile-picture small {
    font-size: 13pt;
    color: #cacaca;
}

.profile-picture img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.add-frnd {
    width: 90px;
    position: absolute;
    left: -130px;
    top: 100px;
    background: #00A9FA;
    padding: 5px;
    border-radius: 10px;
    font-size: 13pt;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.follow {
    width: 70px;
    position: absolute;
    margin-left: 180px;
    top: 100px;
    background: #00A9FA;
    padding: 5px;
    border-radius: 10px;
    font-size: 13pt;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.follow span {
    font-size: 13pt;
}

.add-frnd span {
    font-size: 13pt;
}

.follow:hover {
    transition: 0.5s;
    background: #0079FA;
}

.add-frnd:hover {
    transition: 0.5s;
    background: #0079FA;
}

.profile-content {
    height: 60%;
    width: 100%;
}

.profile-content div {
    float: left;
}

.content-left {
    height: 300px;
    width: 25%;
    border-radius: 10px;
}

.content-middle {
    height: 300px;
    width: 65%;
}

.content-right {
    height: 300px;
    width: 10%;
}

.content-left ul {
    list-style: none;
    padding: 0;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
}

.content-left ul li {
    padding: 15px;
    border-bottom: 1px solid #f8f8f8;
}

.content-left ul li:hover {
    transition: 0.5s;
    background: #f8f8f8;
}

.content-left ul li a {
    font-size: 14pt;
    color: #cacaca;
}

.content-left ul li span {
    font-size: 12pt;
    margin-right: 5px;
}

.content-md-left {
    width: 15%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
}
.content-md-left img {
    height: 85px;
    border-radius: 50%;
}

.content-md-middle {
    width: 85%;
    height: 500px;
    padding-top: 20px;
}

.post-title-name {
    height: 10%;
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
}

.post-title-name a {
    text-decoration: none;
    color: #000;
    font-size: 14pt;
    font-weight: bold;
}

.post-title-name a:hover {
    transition: 0.5s;
    text-decoration: underline;
    color: #121212;
}

.post-title-time {
    height: 5%;
    width: 100%;
    font-size: 10pt;
    padding-left: 10px;
    transition: 0.5s;
    text-decoration: none;
    margin-top: -20px;
}

.post-title-time a {
    color: #cacaca;
}

.post-title-time a:hover {
    transition: 0.5s;
    text-decoration: underline;
}

.post-desc {
    width: 100%;
    height: 385px;
    padding-left: 10px;
    padding-top: 10px;
}

.post-desc img {
    margin-top: 20px;
    border-radius: 10px;
}

.post-desc a:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.post-info {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #f8f8f8;
    margin-top: -10px;
}

.post-info ul {
    list-style: none;
    padding: 0;
}

.post-info ul li {
    float: left;
    margin-right: 5px;
    border-right: 1px solid #f8f8f8;
}

.post-info ul li a {
    font-size: 12pt;
    text-decoration: none;
    color: #cacaca;
    padding-left: 10px;
    padding-right: 10px;
}

.like:hover {
    transition: 0.5s;
    color: #00A9FA;
}

.comment:hover {
    transition: 0.5s;
    color: #121212;
}

.share:hover {
    transition: 0.5s;
    color: #FAB35F;
}

.content-right ul {
    padding: 0;
    list-style: none;
}

.content-right ul li {
    height: 50px;
    width: 50px;
    display: block;
    background: #f8f8f8;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.content-right ul li a {
    text-decoration: none;
    color: #00A9FA;
}

.content-right ul li:hover {
    background: #ededed;
}

.uline {
    width: 300px;
    background-color: #014B70;
    height: 3px;
}

#wrap {
    width: 100%;
    margin: 50px auto;
}

.columns_4 figure {
    width: 220px;
    height: 350px;
    margin-right: 1%;
}

.columns_4 figure:nth-child(4) {
    margin-right: 0;
}

#columns figure:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
}

div#columns figure {
    height: 320px;
    width: 15%;
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 50px 50px 50px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

div#columns figure img {
    width: 180px;
    height: 180px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #014B70;
    line-height: 1.5;
    height: 60px;
    font-weight: 600;
    text-overflow: ellipsis;
}

a .button {
    padding: 10px;
    background: #014B70;
    margin: 10px;
    display: block;
    text-align: center;
    color: #fff;
    transition: all 0.2s linear;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

a.button:hover {
    background: #F7941E;
    color: #014B70;
    text-decoration: none;
}

.price {
    color: #014B70;
}

.background {
    transition: 0.5s;
}

@media screen and (max-width: 960px) {
    #columns figure {
        width: 24%;
    }
}

@media screen and (max-width: 767px) {
    #columns figure {
        width: 32%;
    }
}

@media screen and (max-width: 600px) {
    #columns figure {
        width: 49%;
    }
}

@media screen and (max-width: 500px) {
    #columns figure {
        width: 100%;
    }
}

.background .row input {
    height: 50px;
    border-radius: 25px;
    border: 2px solid #014B70;
    padding-left: 30px;
}

.send {
    height: 50px;
    width: 50px;
    background-color: #F7941E;
    border: 2px solid #F7941E;
    border-radius: 25px;
}

.send:hover {
    color: #F7941E;
    background-color: #fff;
}

.btnrequest {
    height: 40px;
    width: 180px;
    color: ghostwhite;
    background-color: forestgreen;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 argb(0, 0, 0, 0.5);
    border: 0px;
}

.btnlike {
    height: 40px;
    margin-left: 15px;
    width: 40px;
    color: ghostwhite;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 argb(0, 0, 0, 0.5);
    border: 0px;
}

.btnlike fa {
    color: ghostwhite;
}